<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>done</title>
</head>
<body>
<h1>Done Tasks</h1>
   <form>
        {% for task in tasks %}

                <div style="border: black 2px solid">
                    <p>{{task}}</p>
                    <p>category: {{task.category}}</p>
                    <p>deadline: {{task.deadline}}</p>
                    <p>urgency: {{task.is_urgent}}</p>
                    <a href="{{url_for('complete',task_id=task.task_id)}}">DONE?</a>
                    <a href="{{url_for('delete_task',task_id=task.task_id)}}">DELETE</a>
                </div>

        {% endfor %}

    </form>
</body>
</html>