<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {%block heading%}
    <h1>My TODO LIST</h1>
    {% endblock %}
    {%block addTask%}
    <form method="POST">
        {{ form.hidden_tag() }}

        {{form.description(placeholder="description")}}

        {{form.category(placeholder="category")}}

        {{form.deadline.label}}
        {{form.deadline()}}

        {{form.is_urgent.label}}
        {{form.is_urgent(min=0, max=10)}}

        {{form.add_button()}}

        <p>{% for error in form.errors.items() %} {{ error[1][0] }} {% endfor %}</p>
    </form>{% endblock %}
    <form>
        {%block listOfTasks%}
            {% for task in tasks%}
            <div style="border: black 2px solid">
                <p>{{task}}</p>
                <p>category: {{task.category}}</p>
                <p>deadline: {{task.deadline}}</p>
                <p>urgency: {{task.is_urgent}}</p>
                <a href="{{url_for('complete',task_id=task.task_id)}}">DONE?</a>
                <a href="{{url_for('delete_task',task_id=task.task_id)}}">DELETE</a>
            </div>
            {% endfor %}
        {% endblock %}
    </form>

    <a href="{{url_for('clear_all_tasks')}}">clear all tasks</a>
    <a href="{{url_for('show_done_tasks')}}">show done tasks</a>
    <a href="{{url_for('order_by_urgency')}}">order by urgency</a>
    <a href="{{url_for('order_by_deadline')}}">order by deadline</a>

    {%block home%}{% endblock %}

</body>
</html>